[Unit]
Description=redBorder AI Outliers with Keras
Requires=network.target
After=network.target

[Service]
TimeoutStartSec=30
RestartSec=10
Restart=always
WorkingDirectory=/opt/rb-aioutliers/

User=root
Group=root

KillSignal=SIGTERM
Type=simple

ExecStart=ENVIRONMENT=production python3 resources/src/__main__.py

TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
