[Unit]
Description=redBorder AI Outliers with Keras (Sync and Train)
Requires=network.target
After=network.target

[Service]
TimeoutStartSec=30
RestartSec=10
Restart=always
WorkingDirectory=/opt/rb-aioutliers/resources

User=rb-aioutliers
Group=rb-aioutliers

KillSignal=SIGTERM
Type=simple

ExecStart=/opt/rb-aioutliers/aioutliers/bin/python3 /opt/rb-aioutliers/resources/src/__main__.py
Environment=ENVIRONMENT=train

TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
