[Unit]
Description=redBorder AI Outliers with Keras (RQ Worker)
Requires=network.target
After=network.target

[Service]
TimeoutStartSec=30
RestartSec=10
Restart=always
WorkingDirectory=/opt/rb-aioutliers/resources/src

User=root
Group=root

KillSignal=SIGTERM
Type=simple

ExecStart=rq worker --with-scheduler --url redis://127.0.0.1:16379

TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
