name: Security check

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  security_check:
    if: (github.event_name == 'pull_request' && github.event.pull_request.user.login == 'dependabot[bot]') || github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python 3.8 and pip
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa -y
        sudo apt update
        sudo apt install -y python3.8 python3.8-distutils
        curl -s https://bootstrap.pypa.io/get-pip.py -o get-pip.py
        sudo python3.8 get-pip.py

    - name: Install safety for security checks
      run: |
        pip install safety

    - name: Run safety check
      run: |
        safety check --full-report -r resources/src/requirements.txt
