name: Unit tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  code_test:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.user.login == 'dependabot[bot]')
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python 3.8 and pip
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa -y
        sudo apt update
        sudo apt install -y python3.8 python3.8-distutils
        curl -s https://bootstrap.pypa.io/get-pip.py -o get-pip.py
        sudo python3.8 get-pip.py

    - name: Install project dependencies
      run: |
        pip install -r resources/src/requirements.txt

    - name: Run tests
      run: |
        pip install coverage
        coverage run -m unittest discover -s resources/tests -p 'test_*.py'

    - name: Generate report
      run: |
        coverage xml -i

    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  run_outliers:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.user.login == 'dependabot[bot]')
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python 3.8 and pip
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa -y
        sudo apt update
        sudo apt install -y python3.8 python3.8-distutils
        curl -s https://bootstrap.pypa.io/get-pip.py -o get-pip.py
        sudo python3.8 get-pip.py

    - name: Install dependencies
      run: |
        pip install -r resources/src/requirements.txt

    - name: Run outliers
      run: |
        ENVIRONMENT=test python3.8 resources/src/__main__.py
      

        
